<footer class="w-100 bg-dark py-5 mt-5" data-bs-theme="dark">
    <div class="container">
        <div class="row">
            <div class="col-3  text-muted">
                T-Spam
                <small class="d-block mb-3 text-muted">&copy; 2025</small>
            </div>
            <div class="col-3 ">
                <h5 class="text-muted">Управление рассылками</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'mailing:recipient_list' %}">Получатели</a></li>
                    <li><a class="text-muted" href="{% url 'mailing:message_list' %}">Сообщения</a></li>
                    <li><a class="text-muted" href="{% url 'mailing:mailing_list' %}">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Статистика</a></li>
                </ul>
            </div>
            <div class="col-3 ">
                <h5 class="text-muted">Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-3 ">
                <h5 class="text-muted">О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
