<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailing:recipient_list' %}">T-Spam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'mailing:main_page' %}">Главная</a>
                </li>
                <li><a class="nav-link" href="{% url 'mailing:recipient_list' %}">Получатели</a></li>
                <li><a class="nav-link" href="{% url 'mailing:message_list' %}">Сообщения</a></li>
                <li><a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:mailing_attempt_list' %}">Попытки рассылок</a>
                </li>
                <li><a class="nav-link" href="#">Статистика</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ user.email }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users:user_profile' user.pk %}">Личный кабинет</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:user_update' user.pk %}">Редактировать
                            профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Вход/Регистрация
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти в аккаунт</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
