{% extends 'mailing/base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}
<nav class="mb-5 text-center">
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:recipient_create' %}">Добавить получателя</a>
</nav>
<div class="container">
    <h3 class="text-center mb-3">Список получателей рассылок:</h3>
    <div class="row text-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ф.И.О.</th>
                    <th scope="col">Email</th>
                    <th scope="col">Комментарий</th>
                    {% if perms.mailing.view_recipient %}
                        <th scope="col">Владелец</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for recipient in recipients %}
                <tr onclick="window.location='{% url 'mailing:recipient_detail' recipient.pk %}';" style="cursor: pointer;">
                    <th scope="row">{{ recipient.id }}</th>
                    <td>{{ recipient.full_name }}</td>
                    <td>
                        <a class="link-opacity-75-hover" href="mailto: {{ recipient.email }}" onclick="event.stopPropagation();">{{ recipient.email }}</a>
                    </td>
                    <td>{{ recipient.comment|truncatechars:100 }}</td>
                    {% if perms.mailing.view_recipient %}
                        <td>{{ recipient.owner.get_full_name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Пагинация -->
    <nav aria-label="Page navigation">
        <ul class="pagination mt-3">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
