{% extends 'mailing/base.html' %}

{% block title %}Вход пользователя{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3 class="text-center mb-4 mt-3">Вход в личный кабинет:</h3>
        <div class="col-4"></div>
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
               <div class="card">
                   <div class="card-body">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-primary">Войти</button>
                      <a href="{% url 'catalog:products_list' %}" class="btn btn-warning">На главную</a>
                   </div>
               </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}
