{% extends 'mailing/base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Письмо отправлено</h3>
                    <p>Мы отправили вам инструкции по сбросу пароля на указанный email.</p>
                    <p>Если вы не получили письмо, проверьте папку "Спам" или убедитесь, что ввели правильный email.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
