<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение email</title>
</head>
<body>
    <h2>Здравствуйте!</h2>
    <p>Для завершения регистрации на сайте <a href="http://{{ host }}/">http://{{ host }}/</a>, пройдите по ссылке ниже:</p>
    <p><a href="{{ url }}">подтвердить email</a></p>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
    <p>С уважением,<br>команда сервиса T-Spam!</p>
</body>
</html>
